@mixin abilityContainerMixin {
  flex-basis: 20%;

  div {
    padding: 0.5rem;

    img {
      width: 100%;
      height: auto;
      opacity: 0.75;
      margin-bottom: 0.25rem;

      &:hover {
        opacity: 1.0;
      }
    }
  }
}

.abilitiesContainer {
  display: flex;
  margin: 0 2rem;
}

.abilities {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-basis: 33%;
  flex-wrap: wrap;
}

.abilityContainer {
  @include abilityContainerMixin;
}

.activeAbilityContainer {
  @include abilityContainerMixin;

  div > img {
    opacity: 1.0;
  }
}

.abilityDetails {
  flex-basis: 67%;

  p {
    margin: 0 1rem;
  }

  h3 {
    margin: 0.25rem 1rem;
  }
}
