@mixin abilityContainerMixin {
  flex-basis: 20%;

  div {
    padding: 1rem;

    img {
      width: 100%;
      height: auto;
      opacity: 0.75;

      &:hover {
        opacity: 1.0;
      }
    }
  }
}

.abilitiesContainer {
  display: flex;
}

.abilities {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  width: 33%;
  flex-wrap: wrap;
}

.abilityContainer {
  @include abilityContainerMixin;
}

.activeAbilityContainer {
  @include abilityContainerMixin;

  div > img {
    opacity: 1.0;
  }
}

.abilityDetails {
  width: 67%;
}
