@import '../../styles/flex.scss';
@import '../../styles/colors.scss';

@mixin championContainerMixin {
  margin: 0.25rem;
  background: transparent;
  flex-basis: calc(8.33% - 1rem);
  background: $darkBlue;
  border-radius: 2px;
  padding-bottom: 0.25rem;

  a {
    text-decoration: none;
  }

  img {
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }

  p {
    font-size: 0.75rem;
    color: #dedede;
  }
}

.championsContainer {
  @include outerFlexContainer;
  justify-content: center;
  text-align: center;

  h3 {
    color: $offWhite;
    flex-basis: 100%;
    margin-bottom: 0.5rem;
  }
}

.championContainer {
  @include championContainerMixin;
}

.activeChampionContainer {
  @include championContainerMixin;

  img {
    opacity: 1.0;
  }
}
