@mixin championContainerMixin {
  margin: 0.25rem;
  background: transparent;
  flex-basis: calc(8.33% - 1rem);

  img {
    width: 100%;
    opacity: 0.3;

    &:hover {
      opacity: 1.0;
    }
  }

  p {
    font-size: 0.75rem;
  }
}

.championsContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.championContainer {
  @include championContainerMixin;
}

.activeChampionContainer {
  @include championContainerMixin;

  img {
    opacity: 1.0;
  }
}
