@mixin outerFlexContainer {
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap;
}

@mixin innerFlexHeader {
  display: flex;
  justify-content: flex-start;
  flex-basis: 100%;
  padding: 0.5rem 0;
}

@mixin innerFlexContainer {
  @include innerFlexHeader;
  margin: 0 4rem;
}

@mixin innerFlexTable {
  h1, h2, h3, h4, h5, h6, p, span {
    overflow: hidden;
    padding: 0 1rem;
  }
}

.flexTable1 { flex-basis: calc(8.33% - 2rem); }
.flexTable2 { flex-basis: calc(16.66% - 2rem); }
.flexTable3 { flex-basis: calc(25% - 2rem); }
.flexTable4 { flex-basis: calc(33.33% - 2rem); }
.flexTable5 { flex-basis: calc(41.66% - 2rem); }
.flexTable6 { flex-basis: calc(50% - 2rem); }
.flexTable7 { flex-basis: calc(58.33% - 2rem); }
.flexTable8 { flex-basis: calc(66.66% - 2rem); }
.flexTable9 { flex-basis: calc(75% - 2rem); }
.flexTable10 { flex-basis: calc(83.33% - 2rem); }
.flexTable11 { flex-basis: calc(91.66% - 2rem); }
.flexTable12 { flex-basis: calc(100% - 2rem); }
