@import '../../styles/flex.scss';
@import '../../styles/colors.scss';

.loadoutsContainer {
  @include outerFlexContainer;

  h2, h3 {
    color: $offWhite;
  }

  h2 {
    flex-basis: 90%;
    padding-left: 1rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }
}

.loadoutContainer, .tableHeader {
  @include innerFlexContainer;
  @include innerFlexTable;
}

.header {
  @include innerFlexHeader;
  @include innerFlexTable;
}

.createLink {
  color: $offWhite;
  justify-self: flex-end;
  padding: 0.25rem 0;
}
