@import '../../styles/flex.scss';
@import '../../styles/colors.scss';
@import '../../styles/buttons.scss';

@mixin loadoutContainerMixin {
  @include innerFlexContainer;
  @include innerFlexTable;

  background: $darkBlue;
}

@mixin loadoutTitleMixin {
  h2 {
    color: $offWhite;
    margin-right: 1rem;
    padding-left: 1rem;
  }
}

.loadoutsContainer {
  @include outerFlexContainer;
  @include loadoutTitleMixin;

  h3 {
    color: $offWhite;
    margin-bottom: 0.5rem;
  }

  & > div:last-of-type {
    border-radius: 0 0 2px 2px;
  }
}

.loadoutsFormContainer {
  @include loadoutTitleMixin;
}

.loadoutContainer {
  @include loadoutContainerMixin;

  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.tableHeader {
  @include loadoutContainerMixin;

  justify-content: center;
  border-radius: 2px 2px 0 0;
  flex-wrap: wrap;

  div.divider {
    padding-bottom: 0;
  }
}

.header {
  @include innerFlexHeader;
  @include innerFlexTable;

  margin: 0 4rem;

  h2 {
    padding: 0;
  }
}

.createLink {
  color: $offWhite;
  justify-self: flex-end;
  padding: 0.35rem 0;
}

.divider {
  height: 1px;
  border-bottom: 1px solid $lightBlueText;
  flex-basis: calc(100% - 2rem);
  padding-bottom: 1rem;
}

.nameInput {
  display: flex;
  justify-content: center;

  input {
    flex-basis: 50%;
    padding: 0.75rem;
  }
}

.formControls {
  margin-left: 4rem;
}
