.topNav {
  width: 100%;
  height: 3rem;
  background: #031e2f;

  ul {
    &> li {
      display: inline-block;
      padding: 1rem;

      &> a {
        font-size: 0.8rem;
        color: #5f91a1;
        text-decoration: none;
      }
    }
  }
}

.rightNav {
  float: right;
}

.brand {
  float: left;
  padding: 0.75rem;
  font-size: 1.25rem;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: #ef7716;
    font-family: Impact, Charcoal, sans-serif;
  }
}
