.topNav {
  width: 100%;
  height: 3rem;
  background: #000;

  ul {
    &> li {
      display: inline-block;
      padding: 1rem 2rem;

      &> a {
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.rightNav {
  float: right;
}
