.championsContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.championContainer {
  margin: 0.25rem;
  background: #fff;
  flex-basis: calc(8.33% - 1rem);

  img {
    width: 100%;
  }

  p {
    font-size: 0.75rem;
  }
}
