@mixin championContainerMixin {
  margin: 0.25rem;
  background: transparent;
  flex-basis: calc(8.33% - 1rem);

  img {
    width: 100%;
  }

  p {
    font-size: 0.75rem;
  }
}

.championsContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.championContainer {
  @include championContainerMixin;
}

.activeChampionContainer {
  @include championContainerMixin;
  box-shadow: -3px 5px 10px -4px #ccc;
  flex-grow: 0.5;
}
